h1{
    font-family: Arial;
    color: black;
    text-align: center;
}
body{
    font-family: Arial;
}
div{
    background-color: #111;
    border-radius: 4px;
    margin-left: 8cm; 
    padding: 30px;
    margin: 20px;
}

h2{
    color: white;
    margin: 0px;
}

span{
    color: #febe01;
}

p{
    color: #b2b2b2;
    
}

a{
    display: inline-block;
    background-color: #febe01;
    color: #332200;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}
